<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363295458027-cv4vl22tlcranf4m6nt05r7pbkf9vug7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363295458027-cv4vl22tlcranf4m6nt05r7pbkf9vug7</string>
	<key>API_KEY</key>
	<string>AIzaSyAej9asudRIn9bMJCY8CKCuFX7B1_XgzOU</string>
	<key>GCM_SENDER_ID</key>
	<string>363295458027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleCalendar</string>
	<key>PROJECT_ID</key>
	<string>simple-calendar-c43b9</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-calendar-c43b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363295458027:ios:def71f5dcaa80bc8db34ae</string>
</dict>
</plist>